<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>replaceTahoma</string>
		<key>Title</key>
		<string>Replace Tahoma</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>replaceArial</string>
		<key>Title</key>
		<string>Replace Arial</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>replaceTimesNewRoman</string>
		<key>Title</key>
		<string>Replace Times New Roman</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>XB Zar</string>
		<key>Key</key>
		<string>replaceWith</string>
		<key>Title</key>
		<string>Replace With</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
</array>
</plist>
